<h2>Hello, {{currentUser.name}} {{currentUser.surname}}</h2>
<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div class="form-group">
  <label for="username">Username</label>
  <input type="text" formControlName="username" class="form-control" />
  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" formControlName="password" class="form-control" />
  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
</div>
<div class="form-group">
  <button [disabled]="loading" class="btn btn-primary">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Login
  </button>
  <a routerLink="/register" class="btn btn-link">Register</a>
</div>
</form> -->
<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">E-mail</span>
    </div>
    <input
      id="email"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.email"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">City</span>
    </div>
    <input
      id="city"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.city"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">Country</span>
    </div>
    <input
      id="country"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.country"
    />
  </div>
  <button id="editBtn" (click)="editOn()" class="btn btn-primary">
    {{editBtn}}
  </button>
  <button id="deleteBtn" (click)="delete()" class="btn btn-danger">
    Delete User
  </button>
  <div *ngIf="passChange">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">Old Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="oldPass" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">New Password</span>
      </div>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="newPass"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">Repeat New Password</span>
      </div>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="newPass2"
      />
    </div>
    <button id="genPassBtn" (click)="genPass()" class="btn btn-warning">
      Geneate Password
    </button>
  </div>

  <button id="changePassBtn" (click)="changePass()" class="btn btn-primary">
    Change Password
  </button>
</div>
