<div class="alert alert-success" role="alert">
  <h2>Hello, {{currentUser.name}} {{currentUser.surname}}</h2>
</div>
<div class="alert alert-primary" role="alert">
  <h3>Current weather in {{currentUser.city}}:</h3>
  <h4>Temerature = {{this.api.temp}} &#8451;, Humidity = {{this.api.hum}} %</h4>
</div>
<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">E-mail</span>
    </div>
    <input
      id="email"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.email"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">City</span>
    </div>
    <input
      id="city"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.city"
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text data">Country</span>
    </div>
    <input
      id="country"
      type="text"
      class="form-control"
      disabled
      [(ngModel)]="currentUser.country"
    />
  </div>
  <button id="editBtn" (click)="editOn()" class="btn btn-primary">
    {{editBtn}}
  </button>
  <button id="deleteBtn" (click)="delete()" class="btn btn-danger">
    Delete User
  </button>
  <div *ngIf="passChange">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">Old Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="oldPass" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">New Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="newPass" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text pass">Repeat New Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="newPass2" />
    </div>
    <button id="genPassBtn" (click)="genPass()" class="btn btn-warning">
      Geneate Password
    </button>
  </div>

  <button id="changePassBtn" (click)="changePass()" class="btn btn-primary">
    Change Password
  </button>
  <div class="row">
    <div class="col">
      <div *ngIf="currentUser.admin" ngbDropdown class="d-inline-block">
        <button id="usersMange" class="btn btn-outline-secondary" ngbDropdownToggle>
          Select user to change password:
        </button>
        <div ngbDropdownMenu>
          <button
            ngbDropdownItem
            *ngFor="let item of this.users ; index as i"
            (click)="selectUser(i)"
          >
            {{item.email}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
