<!-- nav -->
<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav nav-justify">
    <div *ngIf="this.auth.msg.logged === true" class="navbar-nav">
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
      <a
        *ngIf="this.auth.currentUser.admin === true"
        class="nav-item nav-link disabled"
        >Logged with administrative privileges!!!
      </a>
    </div>
    <a class="nav-item nav-link" routerLink=''>Home</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
